.MediaArticle{
  @extend .Media--fullWidth;
  padding-top: 24px;
  padding-bottom: 20px;
  table-layout: fixed;
  width: 100%;
  .media-body{
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
  }
  .media-right{
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.ntu-logo{
  width: 271px;
}
@media (max-width: $screen-xs-max) {
  .ntu-logo{
    width: 240px;
  }
  .navbar-default .navbar-brand{
    padding-left: 8px;
    padding-top: 10px;
  }
}

.layout-minor-article-part{
  margin-top: 40px;
  margin-bottom: 40px;
}

.AboutEC{
  padding-top:36px;
  padding-bottom: 20px;
  .btn:hover{
    color: #398E95;
  }
}
.AboutEC-title{
  font-size: 18px;
  margin-bottom: 24px;
}
.AboutEC-content{
  font-size: 12px;
  line-height: 21px;
}

.SiteMap{
  padding-top:48px;
  padding-bottom: 48px;
}

.Footer{
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 24px;
  p{
    margin-bottom: 0;
  }
  td{
    vertical-align: top;
  }
  .glyphicon{
    margin-right: 10px;
    font-size: 16px;
  }
  a{
    color:#6BB3C5;
    font-style: italic;
  }
  table{
    table-layout: fixed;
    td{
      padding-right: 5px;
    }
  }
}
.Footer-left{
  @include make-lg-column-offset(1);
  @include make-lg-column(4);
  @include make-md-column-offset(1);
}
.Footer-right{
  @include make-md-column-offset(1);
  @include make-lg-column-offset(0);
  @include make-lg-column(7);
}

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}
    .responsive-object iframe,
    .responsive-object object,
    .responsive-object embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


.TopicHeader{
  @extend .l-z-upper;
  @extend .bg-white;
  margin-top: -31px;
}

.TopicHeader-container{
  @extend .container;
}

.TopicHeader-crumb {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.Topics{
  @extend .l-z-lower;
}
.Topic-container{
  @extend .container;
}


@mixin title_common(){
  line-height: 100%;
  margin-bottom: 0;
}

.Blog-head{
  @extend .jumbotron;
  @extend .bg-dark;
  @extend .text-center;
  @extend .BoldBorder--secondColorUp;
  @extend .l-t-bar-top;
  padding-top: 0;
}



.Blog-title{
  font-size: 36px;
  line-height: 100%;
  font-weight: bold;
  margin-top: 85px;
  @include title_common();
}

$subtitle-inverse:  #8c8c8c;

.Blog-subTitle{
  @extend .text-muted;
  color: $subtitle-inverse;
  font-size: 24px;
  margin-top: 12px;
  @include title_common();
}


.Blog-date{
  @extend .text-muted;
  @extend .text-italic;
  color: $subtitle-inverse;
  font-size: 12px;
  margin-top: 30px;
  @include title_common();
}


.Blog-label{
  @extend .BorderedLabel;
  @extend .label-default;
  @extend .Label--semiWide;
  background-color: #8A8A8A;
  margin-top: 76px;
  display: inline-block;
  @include title_common();
}

.TextHighLight{
  @extend .text-info;
  em{
    font-weight: bold;
    font-style: normal;
  }
}

.Blog-directorRegion{
  margin-bottom: 32px;
}
.Blog-directorItem{
  @extend .TextHighLight;
  margin-top: 10px;
}

.BlogBody{
  @include make-sm-column-offset(1);
  @include make-sm-column(10);
  @extend .bg-white;
  @extend .l-t-bar-down;
  @extend .BoldBorder--mainColorUp;
  @extend .Shadow;
  padding-left: 0;
  padding-right: 0;
}

.BlogBody-content{
  @extend .article-content;
}


.BlogBody-richText{
  //@extend .article-content;
  padding-top: 100px;
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
  }
  @include make-sm-column-offset(1);
  @include make-sm-column(10);
  @include make-md-column-offset(1);
  @include make-md-column(10);
  padding-bottom: 58px;
}
.BlogBody-relatedArea{
  @include make-sm-column-offset(1);
  @include make-sm-column(10);
  padding-bottom: 36px;
}

.BlogBody-title{
  @extend .SingleBarHeading;
  @extend .text-success;
}

.BlogBody-relatedItem{
  @extend .col-sm-3;
  .panel{
    margin-bottom: 0;
  }
  border-left: 1px solid #F9F9F9;
  &:first-child{
    border-left: 0 solid #F9F9F9;
  }
}

.BlogBody-relatedTitle, .BlogBody-relatedSubTitle{
  font-size: 10px;
  line-height: 14px;
  color: #595959;
  margin-top: 4px;
}
.BlogBody-relatedTitle{
  margin-top: 10px;
}


@media (min-width: 768px){
  .inverse-extra .navbar-nav > li {
    float: none;
    display: inline-block;
    width: 250px;
  }
}
.wrapping{
  white-space: nowrap;
  overflow-x: auto;
}


.navbar-left{
  float: left !important;
}

.Icon-position{
  float: left;
}

.Menubar-Height{
  line-height: 31px;
}

.MenuDropdown{
  z-index:100;
  position:relative;
}