.div-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.SharpShadow {
  box-shadow: 15px 15px $gray-lighter;
}

.SharpShadow--darkSmall{
  box-shadow: 7px 7px black;
}

.SharpShadow--graySmall{
  box-shadow: 7px 7px $gray-lighter;
}


.block-link{
  display:block;
  text-decoration: none;
  cursor: pointer;
}


.hoverEffect-shadow{
  transition: box-shadow 0.3s;
  &:hover{
    box-shadow: 0 0 20px -1px rgba(50, 50, 50, 1);
  }
}


// div image effects
.divImageAnimation--hoverBigger{
  .div-image{
    transition: all 0.3s;
    width: 100%;
    height: inherit;
  }
  &:hover{
    .div-image{
      margin-left: -10%;
      width: 120%;
    }
  }
}

.divImageAnimation-divWrapper{
  overflow: hidden;
  margin: 0 auto;
}


// Fix Ratio Boxes
.FixRatioBox{
  width: 100%;
  position: relative;
}

.FixRatioBox--4to3{
  padding-bottom: 75%;
}

.embed-responsive-2by1, .FixRatioBox--2to1{
  padding-bottom: 50%;
}

.embed-responsive-3by1, .FixRatioBox--3to1{
  padding-bottom: 33.33%;
}

.FixRatioBox--16to9{
  padding-bottom: 56.25%;
}


.FixRatioBox--bigSlider{
  padding-bottom: 52.90%;
}
.FixRatioBox--ntu{
  padding-bottom: 44.61%;
}

.FixRatioBox-content{
  @include absolute-fill();
}


//100% stretch
.AbsoluteFill{
  @include absolute-fill();
}



// Decoration
.RightBorder{
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $light-border-color;
}

.TopBorder{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $light-border-color;
}

.GrayBorder{
  border: 1px solid $light-border-color;
}

$bold-border-width: 5px;

.BoldBorder--secondColorUp{
  border-width: $bold-border-width;
  border-top-color: $active-second-color-green;
  border-top-style: solid;
}

.BoldBorder--mainColorUp{
  border-width: $bold-border-width;
  border-top-color: $active-main-color-green;
  border-top-style: solid;
}

