/*
background

Styleguide 3
*/


/*
Your standard form button.

.bg-dark   - dark background
.bg-primary  - blue
.bg-success   - green
.bg-info   - light blue
.bg-warning - yellow
.bg-danger   - red

Example:
    <div class="bg $modifier_class" ></div>

Styleguide 3.1
*/


.bg{
    min-height: 60px;
    background-repeat: repeat;
}
.bg-dark{
    background-image: url("../img/background/bg-dark.png");
}
.bg-warn-yellow{
    background-color: #FCFBE9;
}

.bg-dark-green{
    background-color: #3E4F4E;
}

.bg-gray{
    background-color: #F8F8F8;
}
.bg-white{
    background-color: #FFFFFF;
}

.bg-blue-patterns{
    background-image: url(../img/background/bg-cyan.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    .bg-blue-patterns{
        //background-image: url(../img/background/bg-blue-patterns.jpeg);
        background-image: url(../img/background/bg-cyan.jpg);
    }
}


.Shadow{
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.24);
}