/*
Buttons

Styleguide 1
*/


/*
Your standard form button.

.btn-danger   -  danger
.btn-warning  -  warning
.btn-info     -  info
.btn-detail - detail


Example:
    <button class="btn liftedBtn $modifier_class" >按鈕</button>

Styleguide 1.1
*/


.btn-detail{
  @include button-variant(white, $brand-detail, $brand-detail);
}
.liftedBtn{
  @extend .btn;
  position: relative;
  border-width: 0;
  letter-spacing: 1px;
  border-bottom-color: rgba(30,30,30,0.3);
  bottom: $strong-border-width;
  border-bottom-width: $strong-border-width;
  transition: all $transition-interval;
  &:hover{
  }
}


/*
Your hollow button.

.btn-warning  -  Indicate It is warning

Example:
    <button class="BtnHollow $modifier_class" >button</button>

Styleguide 1.2
*/


.BtnHollow {
  @extend .btn;
  border-color: transparent;
  background-color: transparent;
  border-width: $strong-border-width;

  &::before{
    z-index: -1;
    position: absolute;
    content: "";
    top:0;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 0.3s;
  }
  &:hover::before{
    right: 0;
  }
}
.BtnHollow.btn-warning{
  color: $brand-warning;
  border-color: $brand-warning;
  position: relative;
  background-color: transparent;
  &:hover{
    color: white;
  }
  &::before{
    background-color: $brand-warning;
  }
}

.BtnHollow--wider{
  padding-left: 45px;
  padding-right: 45px;
}

