/*

Carousel

Styleguide 7
*/


/*
Your standard form media.


Example:

<div id='mainSlider' class="carousel slide mainSlider" data-js='carousel-common' data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listBox">
    <div class="item active">
      <div class='div-image mainSlider-cover' style="background-image: url(http://placekitten.com/g/800/900)" alt="..."></div>
      <div class="carousel-caption"> </div>
    </div>
    <div class="item">
      <div class='div-image mainSlider-cover' style="background-image: url(http://placekitten.com/g/700/900)" alt="..."></div>
      <div class="carousel-caption"> </div>
    </div>
    <div class="item">
      <div class='div-image mainSlider-cover' style="background-image: url(http://placekitten.com/g/900/900)" alt="..."></div>
      <div class="carousel-caption"> </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control transition" href="#mainSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left slider-left-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control transition" href="#mainSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right slider-right-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

Styleguide 7.1
*/

$carousel-width: 60px;
.mainSlider{
  .slider-left-icon, .slider-right-icon{
    top: initial;
    bottom: 0;
    font-size: 50px;
    line-height: 80px;
    width: $carousel-width;
    height: 80px;
    background-color: black;
  }
  .slider-left-icon{
    margin-left: 0;
    left: 0;
  }
  .slider-right-icon{
    margin-right: 0;
    right: 0;
  }
}
.mainSlider-cover{
  width: 100%;
  height: 60vh;
}

/*
Your standard form media.


Example:

<div id="BigSlider" class="carousel slide BigSlider"
     data-js='BigSlider' >
  <div class='BigSlider-scrollHider'></div>
  <!-- Wrapper for slides -->
  <div class="BigSlider-carouselInner" role="listBox">
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/e499e4/fff&amp;text=1" class="img-responsive"></a></div>
    </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/e477e4/fff&amp;text=2" class="img-responsive"></a></div>
   </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=3" class="img-responsive"></a></div>
    </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/f4f4f4&amp;text=4" class="img-responsive"></a></div>
    </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/f566f5/333&amp;text=5" class="img-responsive"></a></div>
    </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/f477f4/fff&amp;text=6" class="img-responsive"></a></div>
    </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=7" class="img-responsive"></a></div>
    </div>
   <div class="BigSlider-item">
      <div class="Box"><a href="#"><img src="http://placehold.it/500/fcfcfc/333&amp;text=8" class="img-responsive"></a></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control "  role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left slider-left-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control"  role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right slider-right-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

Styleguide 7.2
*/


$bigSlider-bg-color:  #4A4A4A;
.Box{ /* not important here*/
  width: 140px;
  display: inline-block;
}
.BigSlider-item{
  display: inline-block;
  margin-left: 80px;
}
.BigSlider-item + .BigSlider-item{
  margin-left: 40px;
}

.BigSlider-scrollHider{
  width:100%;
  background: $bigSlider-bg-color;
  height: 20px;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid black;
}
.BigSlider-carouselInner{
  background-color: transparent;
  overflow-x: scroll;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
}
.BigSlider{
  border-top:1px solid #7D7D7D;
  display: table;
  table-layout: fixed;
  background-color: $bigSlider-bg-color;
  padding-top: 13px;
  width: 100%;
  position: relative;

  .carousel-control{
    width: $carousel-width;
    display: table-cell;
    vertical-align: middle;
    background: rgba(0,0,0,0.6);
  }
  .slider-left-icon{
    margin-left: 0;
    left: 5px;
  }
  .slider-right-icon{
    margin-right: 0;
    right: 5px;
  }
}

