/*

Composition

Styleguide 9

*/


/*

a small article

Example:

<div class='container'>
  <div class='row'>

      <div class='col-sm-2'>
        <a class='block-link hoverEffect-shadow divImageAnimation--hoverBigger'>
        <div class="panel">
          <div class="panel-body">
            <div class='divImageAnimation-divWrapper' style='height: 100px'>
              <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400)'> </div>
            </div>
              <h4> 中國人不是東亞病夫</h4>
              <p> sub title 中國人不是東亞病夫,中國人不是東亞病夫中國人不是東亞病夫國人不是東亞病夫</p>
          </div>
        </div>
        </a>
      </div>

      <div class='col-sm-2'>
        <a class='block-link'>
        <div class="panel">
          <div class="panel-body">
            <div class='div-image div-image-hover' style='background-image: url(http://placekitten.com/g/300/400); width: 100%;height: 100px'>
            </div>
              <h4> title </h4>
              <p> sub title </p>
          </div>
        </div>
        </a>

      </div>
  </div>
</div>

Styleguide 9.1
*/


/*
a big article

Example:

<div class="panel panel-default">
  <div class="panel-body"> </div>
</div>
<div class='container'>
  <div class='row'>
      <div class='col-sm-6'  >

          <div class='divImageAnimation--hoverBigger BigArticle'>
            <a class='block-link'>
              <h3 class='text-success'>房地產</h3>
              <div class='divImageAnimation-divWrapper' style='height: 200px;'>
                <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400);'></div>
              </div>
               <div class="media Media--fullWidth GrayBorder">
                  <a class="media-body RightBorder">
                      <p>《兩岸服務貿易協議》對產業、社會、國家安全的影響廣泛深遠，亟需社會各方的重視及參與! 本系列共六場研討會，敬請各界人士與我們一同討論如何簽定服貿協議，共創兩岸雙贏。</p>
                  </a>
                  <a class="media-right media-middle">
                    <button class='liftedBtn btn-info'>瞭解更多</button>
                  </a>
               </div>
            </a>
          </div>

      </div>
  </div>
</div>

Styleguide 9.2
*/

.BigArticle{
  .btn{
    min-width: 80px;
  }
}

/*
PictureBox

Example:

<div class='container' style='background-color: gray'>
  <div class='row' >
      <div class='col-sm-2'>
          <div class='divImageAnimation--hoverBigger'>
            <a class='block-link'>
              <div class='FixRatioBox FixRatioBox--16to9'>
                <div class='PictureBox PictureBox--Bordered SharpShadow--darkSmall divImageAnimation-divWrapper'>
                  <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400);'> </div>
                  <div class='PictureBox-content'>
                    <h5 class='text-inverse'>abc</h5>
                    <h6 class='text-muted'>def</h6>
                  </div>
                </div>

              </div>
            </a>
          </div>
      </div>
  </div>
</div>

Styleguide 9.3
*/




.PictureBox{
  @extend .FixRatioBox-content;
  .div-image{
    @include absolute-fill();
  }
}

.PictureBox--Bordered{
  border: 6px solid white;
}

.PictureBox-content{
  @include letter-spacing(1px);
  @include absolute-fill();
  padding: 10px;
  background-color: rgba($gray-lighter, 0.0);
  transition: background-color 0.3s;
  &:hover{
    background-color: rgba($gray-light,0.4);
  }
}

.PictureBox--darker{
  .PictureBox-content{
    background-color: rgba(#000, 0.6);
    &:hover{
      background-color: rgba(#000,0.8);
    }
  }
}



/*
Site Map

Example:

<div class='container Shadow' style=''>
  <div class='row' >
      <div class='col-sm-9'>
        <table class='ListingTable'>
          <td>
            <h4> Title </h4>
            <ul>
              <li> 很好 </li>
              <li> Yo </li>
              <li> Yo </li>
            </ul>
          </td>
          <td>
            <h4> Title </h4>
            <ul>
              <li> Yo </li>
            </ul>
          </td>
          <td>
            <h4> Title </h4>
            <ul>
              <li> Yo </li>
              <li> Yo </li>
            </ul>
          </td>
        </table>
      </div>

      <div class='col-sm-3'>
        <h5>訂閱公共經濟中心電子報<h5>
        <a class='btn btn-block btn-danger'>訂閱</a>
      </div>
  </div>
</div>

Styleguide 9.4
*/

.ListingTable{
  td{
    vertical-align: text-top;
    padding-right: 10px;
    border-top: 1px solid transparent !important;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: bold;
  }
  ul{
    margin-top: 5px;
    list-style: none;
    padding:0;
  }
  li{
    line-height: 24px;
    color: #808080;
    font-size: 12px;
    font-weight: normal;
  }
  a{
    color: inherit;
  }
}