.BorderedLabel{
  @extend .label;
  background-color: $gray-light;
  border-bottom-width: $strong-border-width;
}
.BorderedLabel--danger{
  border-bottom: $strong-border-width solid $brand-danger;
}

.label-wide{
  padding-left: 45px;
  padding-right: 45px;
  line-height: 32px;
}

.Label--semiWide{
  padding-left: 24px;
  padding-right: 24px;
  line-height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.label-big{
  font-size: 20px;
}
.label-h4{
  font-size: $font-size-h4;
}
