.l-two-column-layout{
  @extend .row;
}
.l-two-column-left, .l-two-column-right{
  overflow-x: hidden;
}
.l-two-column-left{
  @extend .col-sm-6;
  padding-left: 30px;
  padding-right: 15px;
}
.l-two-column-right{
  @extend .col-sm-6;
  padding-left: 15px;
  padding-right: 30px;
}


//TODO: No So Perfect on Ipad. need to study ore about screen
@media (max-width: $screen-sm-max) {
  .l-two-column-left{
    padding-left: 20px;
    padding-right: 20px;
  }
  .l-two-column-right {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.l-z-upper{
  position: relative;
  z-index: 4;
}

.l-z-lower{
  position: relative;
  z-index: 3;
}

.l-z-lower + .l-z-lower{
  z-index: 2;
}

.RemoveColumnPadding{
  padding-left: 0;
  padding-right: 0;
}

$t-bar-overlap-width: 70px;
.l-t-bar-top{
  padding-bottom: $t-bar-overlap-width;
}
.l-t-bar-down{
  margin-top: -1* $t-bar-overlap-width;
}


