/*
media

Styleguide 6
*/



/*
Your standard form media.
.Media--fullWidth - full-width media
.Media--long  - topic page's media
.Media--short - topic page's media
.TopicMedia--big - topic page's media

Example:
  <div class="media $modifier_class">
    <a class="media-left">
      <div class='div-image SharpShadow' style="background-image: url(http://placekitten.com/g/600/400);
          width: 171px; height: 113px;" alt=""></div>
    </a>

    <a class="media-body media-middle">
      <h4 class="media-heading"> Media heading </h4>
      <h5 class='text-muted'> 酒廠 </h5>

      <p> 主人: ABC </P>
      <p> 主人: 不可以 </P>
      <p class='text-muted'> <em>時間/時間</em> </p>
    </a>
  </div>

Styleguide 6.1
*/


.Media--fullWidth{
  margin-top:0;
  a:hover{
    text-decoration: none;
  }
  .media-body{
    width:100%;
    position: relative;
  }
}

.Media--transparent{

}



.Media--long{
  @extend .Media--fullWidth;
  background-color: #F9F9F1;
  &:hover{
    background-color: #F0EEE2;
  }
  .media-left + .media-body{
    padding-left:20px;
  }
  padding:20px;
}

.Media--short{
  @extend .Media--fullWidth;
  .media-left + .media-body{
    padding-left:10px;
  }
}

.TopicMedia{
}

.TopicMedia-heading{
  @extend .media-heading;
  margin:0;
  font-size: 18px;
  font-weight: bold;
}

.TopicMedia-description{
  @extend .text-muted;
  font-weight: bold;
  margin:0;
  font-size: 16px;
  color: #8c8c8c;
}

.TopicMedia-textItem{
  line-height: 25px;
}

.TopicMedia-date{
  @extend .text-muted;
  @extend .TopicMedia-textItem;
  @extend .text-italic;
}




.TopicMedia--big{
  @extend .media;
  @extend .Media--long;
  @extend .TopicMedia;
  background-color: white;
  &:hover{
    background-color: #F9F9F0;
  }

}
.TopicMedia-left{
  @extend .media-left;
  @extend .hidden-xs;
  @extend .media-middle;
}

.TopicMedia-image{
  @extend .div-image;
  @extend .SharpShadow--graySmall;
  width: 171px;
  height: 113px;
}

.TopicMedia-body{
  @extend .media-body;
  @extend .media-middle;
}


.TopicMedia--small{
  @extend .TopicMedia;
  @extend .Media--short;
  .TopicMedia-left{
    padding-left: 30px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.TopicMediaImage--small{
  @extend .TopicMedia-image;
  width: 75px;
  height: 50px;
}
