
@mixin letter-spacing($spacing:1px){
  letter-spacing: $spacing;
}


@mixin absolute-fill($spacing:0px){
  position: absolute;
  top: $spacing;
  right: $spacing;
  left: $spacing;
  bottom: $spacing;
}

