



/*

navs

Styleguide 2
*/

/*

there is a wrapper called .inverse-extra;
因為  bootstrap  的限制，才會這樣實作.

.navbar-inverse -  inverse navbar

Example:
<div class='inverse-extra'>
<nav class="navbar $modifier_class" role="navigation">
  <div class="container-fluid">
      <div class="navbar-brand" href="#"><div class='pyramid-icon'></div></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">連結<span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">公共經濟中心<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
Styleguide 2.2
*/



.inverse-extra{
  // Reset inverted navbar basics
  $navbar-inverse-link-color:                   #EBEBEB;
  $navbar-inverse-link-hover-color:             #EBEBEB;
  $navbar-inverse-link-hover-bg:                $gray-dark;
  $navbar-inverse-link-active-color:            $navbar-inverse-link-hover-color;
  $navbar-inverse-link-active-bg:               $navbar-inverse-link-hover-bg;
  @import "bootstrap/navbar";
  .navbar-inverse{
    border-top: 1px solid #f5ee79;
    border-bottom: 1px solid #84b5b3;
  }
  li{
    background-color: $dark-bg;
  }
  .navbar-brand{
    padding: 0;
    .pyramid-icon{
      margin-top: -1px;
    }
  }
}
.pyramid-icon{
  height: 0;
  width: 0;
  border-top: ($navbar-height/2 + 1) solid #A9E6E1;
  border-right: ($navbar-height/2 + 1) solid #79A6A3;
  border-bottom: ($navbar-height/2 +1) solid #628686;
  border-left: ($navbar-height/2 +1) solid #96CECD;
}

/*
Your standard form button.

.navbar-default -  default navbar
.navbar-inverse -  inverse navbar


Example:
<nav class="navbar $modifier_class" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">連結<span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">公共經濟中心<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>公共經濟中心 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

Styleguide 2.1
*/


.navbar-nav{
  @include letter-spacing(2px);
}

.navbar-default{
  .navbar-nav > li{
    border-top: 6px solid transparent;
    transition: border-top-color $transition-interval;
    font-weight: bold;
  }
  .active, li:hover{
    border-top-width: 6px;
    border-top-color: $active-main-color-blue;
  }
}


.navbar-inverse{
  li{
    border-left: 1px solid rgba(0,0,0,0.15);
  }
  a{
    transition: background-color $transition-interval;
  }
}



.bigger{
  // Basics of a navbar
  $navbar-height:                    70px;
  $navbar-margin-bottom:             0;
  $line-height-computed:     20px;
  // $navbar-border-radius:             $border-radius-base
  // $navbar-padding-horizontal:        floor(($grid-gutter-width / 2))
  $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
  // $navbar-collapse-max-height:       340px


  $inactive-main-color:  #8A9CAA;


  $navbar-default-color:             darken($active-main-color-green,40%);
  $navbar-default-bg:                #F3F8F4;
  $navbar-default-border:            #F3F8F4;

  // Navbar links
  $navbar-default-link-color:                $navbar-default-color;
  $navbar-default-link-hover-color:          darken($navbar-default-color,40%);
  $navbar-default-link-hover-bg:             transparent;
  $navbar-default-link-active-color:         $navbar-default-link-color;
  $navbar-default-link-active-bg:            $navbar-default-bg;
  $navbar-default-link-disabled-color:       #ccc;
  $navbar-default-link-disabled-bg:          transparent;
  @import "bootstrap/navbar";
  .navbar-brand{
    padding:6px;
    padding-left: 25px;
  }
}
