/*
Panel

Styleguide 5
*/


/*
Your standard form panel.

.panel-default   - panel
.panel-success - panel

Example:

<div class="panel $modifier_class">
  <div class="panel-heading">Panel heading title</div>
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>


Styleguide 5.1
*/

.panel-success{
  border:0;
}
.panel-success > .panel-heading{
  border-left: 5px solid #C5DF9D;
  border-bottom-width: 0;
  border-top-width:0;
  color: $brand-inverse;
}

.panel-compact{
  .panel-body{
    padding: 0;
  }
  margin: 0;
}
