/*
typography

Styleguide 4
*/


/*
Your standard form button.

.text-primary   - .
.text-success  - .
.text-muted  - .
.text-inverse - .
.text-italic - .
.text-info - .

Example:
    <p class="$modifier_class" >Jumping Monkey</p>

Styleguide 4.1
*/


.text-inverse{
    color: $brand-inverse;
}
.link-inverse{
  @extend .text-inverse;
  text-decoration-color: $brand-inverse;
  &:hover{
    color: wheat;
  }
}
.text-italic{
    font-style: italic;
}

.text-info{
  color: #3cabd5;
}

/*
Your standard form button.

.doubleFirst - .

Example:
    <p class="$modifier_class" > 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙  中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙  中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙  中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 </p>
Styleguide 4.2
*/


.doubleFirst::first-letter{
    font-size: $font-size-h3;
    float: left;
    background-color: #53ADD3;
    color: $brand-inverse;

}


.normal-content{
   padding: 15px;
  > *{
    margin-bottom: 15px;
  }
}

.padding-content{
   padding: 20px;
}

.UpDownPaddingContent{
  padding-top: 20px;
  padding-bottom: 20px;
}

.UpDownPaddingContent--Larger{
  margin-top: 40px;
  padding-bottom: 40px;
}

.ChineseBeautify{
  @include letter-spacing(1px);
}


.article-content{
  padding-top: 100px;
  padding-left: 136px;
  padding-right: 136px;
}


/*
Your standard form button.

.DoubleBarHeading - .
.DoubleBarHeading.Height100px - .
.SingleBarHeading - .
.SingleBarHeading.Height100px - .

Example:
      <h2 class='$modifier_class'> xxx </h2>
Styleguide 4.3
*/

.DoubleBarHeading{
  background-image: url(../img/double-bar.png);
  background-repeat: repeat-y;
  padding-left: 20px;
  line-height: 50px;
}
.SingleBarHeading{
  background-image: url(../img/single-bar.png);
  background-repeat: repeat-y;
  padding-left: 13px;
  line-height: 32px;
}

.Height100px{
  line-height: 100px;
}