{% extends '_ntu_base.html' %}
{% load static %}
{% load compress %}


{% block content %}
    <div class="jumbotron text-center BoldBorder--secondColorUp l-t-bar-top">
        <h1 class='small'>台大公共政策 研討會</h1>
        <p class='text-muted'>很重要</p>
        <p class='text-muted text-italic'> 時間 </p>
        <span class='BorderedLabel label-default label-wide'> 房地產 </span>
    </div>
    <div class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 article-content bg-white l-t-bar-down BoldBorder--mainColorUp Shadow">
                    <h1>xxx</h1>
                    <h1>xxx</h1>
                    <h1>xxx</h1>
                    <p>ixx</p>
                    <div class="TopBorder">
                        <h3 class="text-success"> 相關文章 </h3>
                        <div class="row">
                            {% for i in '1234' %}
                            <div class='col-sm-3'>
                                <a class='block-link hoverEffect-shadow divImageAnimation--hoverBigger'>
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <div class='embed-responsive-item divImageAnimation-divWrapper'>
                                                    <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400)'> </div>
                                                </div>
                                            </div>
                                            <h4> 中國人不是東亞病夫</h4>
                                            <p> sub title 中國人不是東亞病夫,中國人不是東亞病夫中國人不是東亞病夫國人不是東亞病夫</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
