{% extends '_ntu_base.html' %}
{% load static %}
{% load compress %}
{% block content %}



    <div id='carousel-main' class="carousel slide mainSlider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-main" data-slide-to="1" class=""></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="embed-responsive embed-responsive-3by1">
                    <div class='embed-responsive-item div-image' style="background-image: url(http://placekitten.com/g/800/900)" alt="..."></div>
                </div>
            </div>
            <div class="item ">
                <div class="embed-responsive embed-responsive-3by1">
                    <div class='embed-responsive-item div-image' style="background-image: url(http://placekitten.com/g/1000/600)" alt="..."></div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left slider-left-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right slider-right-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="carousel slide BigSlider"
         data-js='BigSlider' >
        <!-- Wrapper for slides -->
        <div class='BigSlider-scrollHider hidden-sm'></div>
        <div class="BigSlider-carouselInner" role="listBox">
            {% for i in  '12345678912345' %}
                <div class="BigSlider-item">
                    <div class='divImageAnimation--hoverBigger'>
                        <a class='block-link' style="width:200px">
                            <div class='embed-responsive embed-responsive-16by9 SharpShadow--darkSmall'>
                                <div class="embed-responsive-item">
                                    <div class='PictureBox PictureBox--Bordered  divImageAnimation-divWrapper'>
                                        <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400);'> </div>
                                        <div class='PictureBox-content'>
                                            <h5 class='text-inverse'>abc</h5>
                                            <h6 class='text-muted'>def</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

        <!-- Controls -->
        <a class="left carousel-control block-link"  role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left slider-left-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control block-link"  role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right slider-right-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="container Shadow bg bg-white">

        <div class="center-block" style="text-align: center">
            <div class="BorderedLabel label-wide BorderedLabel--danger label-h4">
                最新消息
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="page-header">
                    <h2>關注議題</h2>
                </div>
            </div>
        </div>


        {% for i in '123' %}
            <div class='l-two-column-layout'>
                <div class='l-two-column-left'>
                    <div class='divImageAnimation--hoverBigger'>
                        <a class='block-link'>
                            <h3 class='text-success'> 房地產 </h3>
                            <div class='FixRatioBox FixRatioBox--16to9'>
                                <div class='PictureBox divImageAnimation-divWrapper'>
                                    <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400);'></div>
                                    <div class="PictureBox-content"> </div>
                                </div>
                            </div>
                            <div class="media Media--fullWidth GrayBorder">
                                <a class="media-body RightBorder">
                                    <p> 《兩岸服務貿易協議》對產業、社會、國家安全的影響廣泛深遠，亟需社會各方的重視及參與! 本系列共六場研討會，敬請各界人士與我們一同討論如何簽定服貿協議，共創兩岸雙贏。 </p>
                                    <span class='Divider'></span>
                                </a>
                                <a class="media-right media-middle">
                                    <button class='liftedBtn btn-info'> 瞭解更多 </button>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>

                <div class='l-two-column-right'  >
                    <div class='divImageAnimation--hoverBigger'>
                        <a class='block-link'>
                            <h3 class='text-success'>房地產</h3>
                            <div class='FixRatioBox FixRatioBox--16to9'>
                                <div class='PictureBox divImageAnimation-divWrapper'>
                                    <div class='div-image' style='background-image: url(http://placekitten.com/g/800/500);'></div>
                                    <div class="PictureBox-content"> </div>
                                </div>
                            </div>
                            <div class="media Media--fullWidth GrayBorder">
                                <a class="media-body RightBorder">
                                    <p>《兩岸服務貿易協議》對產業、社會、國家安全的影響廣泛深遠，亟需社會各方的重視及參與! 本系列共六場研討會，敬請各界人士與我們一同討論如何簽定服貿協議，共創兩岸雙贏。</p>
                                    <span class='Divider'></span>
                                </a>
                                <a class="media-right media-middle">
                                    <button class='liftedBtn btn-info'>瞭解更多</button>
                                </a>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        {% endfor %}

        <div class="l-two-column-layout">
            <div class="l-two-column-left">
                <h3 class=''>臉書動態</h3>
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fntuperc&amp;width=90&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=742134462484859" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px; width:100%" allowTransparency="true"></iframe>
            </div>
        </div>
    </div> <!-- container -->


{% endblock %}


{% block extra_js %}

    {% compress js %}

        <script src="{% static 'js/bigSlider.js' %}"></script>
        <script>
            var app = {
                $bigCarousel: $('[data-js=BigSlider]'),
                init:function(){
                    app.$bigCarousel.bigSlider();
                }
            };

            $(app.init);

        </script>

    {% endcompress %}
{% endblock %}