{% extends '_ntu_base.html' %}
{% load static %}
{% load compress %}


{% block content %}
    <div class='inverse-extra'>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-brand" href="#"><div class='pyramid-icon'></div></div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="#">連結<span class="sr-only">(current)</span></a></li>
                        <li class=""><a href="#">公共經濟中心<span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container l-z-upper bg-white" >
        <div class="page-header">
            關注議題 >> <span class="text-success">房地產</span>
        </div>
        <div class="row UpDownPaddingContent--Larger">
            <div class="col-sm-6 ">
                <div class='FixRatioBox FixRatioBox--16to9'>
                    <div class='PictureBox PictureBox--Bordered SharpShadow SharpShadow--graySmall'>
                        <div class='div-image' style='background-image: url(http://placekitten.com/g/600/400);'> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="doubleFirst " > 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙  中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙  中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙  中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 中國文字真奇妙 妙妙妙 </p>
            </div>
        </div>
    </div>

    <div class="l-z-lower bg-gray">
        <div class="container Shadow">
            <div class="row ">
                <div class="col-sm-12 RemoveColumnPadding">
                    <div class="panel panel-success panel-compact">
                        <div class="panel-heading"> 研討會 </div>
                        <div class="panel-body">
                            {% for _ in "123" %}
                                <div class="media Media--long">
                                    <a class="media-left col-md-3 hidden-xs media-middle" >
                                        <div class="embed-responsive embed-responsive-16by9 SharpShadow--graySmall">
                                            <div class='embed-responsive-item div-image' style="background-image: url(http://placekitten.com/g/600/400); " alt=""></div>
                                        </div>
                                    </a>
                                    <a class="media-body media-middle">
                                        <h4 class="media-heading"> Media heading </h4>
                                        <h5 class='text-muted'> 酒廠 </h5>

                                        <p> 主人: ABC </P>
                                        <p> 主人: 不可以 </P>
                                        <p class='text-muted'> <em>時間/時間</em> </p>
                                    </a>
                                    <div class="media-right media-middle">
                                        <a class="liftedBtn btn-warning">詳細資訊</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

    <div class="row">
        <div class="col-md-6 RemoveColumnPadding">
            <div class="panel panel-success panel-compact">
                <div class="panel-heading"> 國際交流 </div>
                <div class="panel-body">
                    {% for _ in "12" %}
                        <div class="media Media--short">
                            <a class="media-left col-md-3 hidden-xs media-middle" >
                                <div class="embed-responsive embed-responsive-16by9 SharpShadow--graySmall">
                                    <div class='embed-responsive-item div-image' style="background-image: url(http://placekitten.com/g/600/400); " alt=""></div>
                                </div>
                            </a>
                            <a class="media-body media-middle">
                                <h4 class="media-heading"> Media heading </h4>
                                <h5 class='text-muted'> 酒廠 </h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 RemoveColumnPadding">
            <div class="panel panel-success panel-compact">
                <div class="panel-heading"> 一般文章 </div>
                <div class="panel-body">
                    {% for _ in "123" %}
                        <div class="media Media--short">
                            <a class="media-left col-md-3 hidden-xs media-middle" >
                                <div class="embed-responsive embed-responsive-16by9 SharpShadow--graySmall">
                                    <div class='embed-responsive-item div-image' style="background-image: url(http://placekitten.com/g/600/400); " alt=""></div>
                                </div>
                            </a>
                            <a class="media-body media-middle">
                                <h4 class="media-heading"> Media heading </h4>
                                <h5 class='text-muted'> 酒廠 </h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}