{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

    <div class='inverse-extra'>
        <div class='pyramid-icon Icon-position'></div>
        <div id="nav-trigger" class="Menubar-Height">
            <span class="menu">{% trans '議題導覽' %}</span>
        </div>
        <nav id="nav-main">
            <ul>
            {% for blog_index_page in blog_index_pages %}
                <li class="{% if request.get_full_path == blog_index_page.url %}active{% endif %} MenuDropdown"><a href="{{ blog_index_page.url }}">{{ blog_index_page.translated_title }}<span class="sr-only">(current)</span></a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        <nav id="nav-mobile"></nav>
        </div>
    </div>


    <div class="TopicHeader">
        <div class="TopicHeader-container" >
            <div class="TopicHeader-crumb">

                {% trans '關注議題' %}>> <span class="text-success">{{ self.translated_title }}</span>
            </div>
            <div class="row UpDownPaddingContent--Larger">
                <div class="col-sm-6 ">
                    <div class='FixRatioBox FixRatioBox--16to9'>
                        <div class='PictureBox SharpShadow SharpShadow--graySmall'>
                            {% image self.image original as tmp_img %}
                            <div class='div-image' style='background-image: url({{ tmp_img.url }});'> </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="doubleFirst " >{{ self.translated_intro|richtext }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="Topics">
        <div class="Topic-container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 Shadow">
                    <div class="row ">
                        <div class="col-sm-12 RemoveColumnPadding">
                            <div class="panel panel-success panel-compact">
                                <div class="panel-heading">{% trans '研討會' %}</div>
                                <div class="panel-body">

                                    {% for conference in conferences %}
                                        <div class="TopicMedia--big">
                                            <a class="TopicMedia-left" href="{{ conference.url }}">
                                                {% image conference.image original as tmp_img %}
                                                    <div class='TopicMedia-image' style="background-image: url({{ tmp_img.url }}); " alt=""></div>
                                            </a>
                                            <a class="TopicMedia-body" href="{{ conference.url }}">
                                                <h4 class="TopicMedia-heading TopicMedia-textItem">{{ conference.translated_title }}</h4>
                                                <h5 class='TopicMedia-description TopicMedia-textItem'> {{ conference.translated_subheading }} </h5>

                                                <div class="text-info TopicMedia-textItem"> <em>{% trans '主持人：' %}</em> {{ conference.host }} </div>
                                                <div class="text-info TopicMedia-textItem"> <em>{% trans '與談人：' %}</em> {{ conference.co_host }} </div>
                                                <div class='TopicMedia-date'>{{ conference.conference_date }} </div>
                                            </a>
                                            <div class="media-right media-middle">
                                                <a class="liftedBtn btn-detail" href="{{ conference.url }}">{% trans '詳細資訊' %}</a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 RemoveColumnPadding">
                            <div class="panel panel-success panel-compact">
                                <div class="panel-heading">{% trans '一般文章' %}</div>
                                <div class="panel-body">
                                    {% for blog in blogs %}
                                        <div class="TopicMedia--small">
                                            <a class="TopicMedia-left" href="{{ blog.url }}">
                                                {% image blog.image original as tmp_img %}
                                                <div class='TopicMediaImage--small' style="background-image: url({{ tmp_img.url }}); " alt=""></div>
                                            </a>
                                            <a class="TopicMedia-body" href="{{ blog.url }}">
                                                <h4 class="media-heading"> {{ blog.translated_title }} </h4>
                                                <h5 class='text-muted'> {{ blog.translated_subheading }} </h5>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
{% endblock %}

{% block extra_js %}

        <script type="text/javascript">$(document).ready(function(){
    $("#nav-mobile").html($("#nav-main").html());
    $("#nav-trigger span").click(function(){
        if ($("nav#nav-mobile ul").hasClass("expanded")) {
            $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
            $(this).removeClass("open");
        } else {
            $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
            $(this).addClass("open");
        }
    });
});</script>

{% endblock %}
