{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
    <div class="Blog-head">
        <div class="Blog-title">
            {{ self.translated_title }}
        </div>
        <div class="Blog-subTitle">
            {{ self.translated_subheading }}
        </div>
        {% if self.conference_date %}
        <div class="Blog-date">
            {% trans '發表於' %}{{ self.conference_date }}
        </div>
        {% endif %}
        <div class="Blog-label">
            {{ self.get_parent.translated_title }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="BlogBody">
                <div class="BlogBody-richText">
                    {% if self.category == 'C' %}
                        <div class="Blog-directorRegion">
                            <div class='Blog-directorItem'><em>{% trans '主持人：' %}</em> {{ self.host }} </div>
                            <div class='Blog-directorItem'><em>{% trans '與談人：' %}</em> {{ self.co_host }} </div>
                        </div>
                    {% endif %}
                    {{ self.translated_body|richtext }}
                </div>
                <div class="TopBorder"></div>
                <div class="BlogBody-relatedArea">
                    <h3 class="BlogBody-title">{% trans '相關文章' %}</h3>
                    <div class="row">
                        {% for related_blog in related_blogs %}
                            <div class='BlogBody-relatedItem'>
                                <a class='block-link' href="{{ related_blog.url }}">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                {% image related_blog.image original as tmp_img %}
                                                <div class='embed-responsive-item div-image' style='background-image: url({{ tmp_img.url }})'> </div>
                                            </div>
                                            <div class="BlogBody-relatedTitle"> {{ related_blog.translated_title }}</div>
                                            <div class="BlogBody-relatedSubTitle"> {{ related_blog.translated_subheading }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>

        </div>

    </div>
{% endblock %}
