{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load compress %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

    <div id='carousel-main' class="carousel slide mainSlider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-main" data-slide-to="1" class=""></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for carousel in carouselItems %}
            {% image carousel.image original as tmp_img %}
            <div class="item {% if forloop.first %} active {% endif %}">
                <a class="embed-responsive embed-responsive-3by1" href="{{ carousel.link }}">
                    <div class='embed-responsive-item div-image' style="background-image: url({{ tmp_img.url }})" alt="..."></div>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left slider-left-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right slider-right-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="carousel slide BigSlider" data-js='BigSlider' >
    <!-- Wrapper for slides -->
    <div class='BigSlider-scrollHider hidden-xs'></div>
    <div class="BigSlider-carouselInner" role="listBox">
        {% for conference in conferences %}
            <div class="BigSlider-item">
                <div class='divImageAnimation--hoverBigger'>
                    <a class='block-link' style="width:167px" href={{ conference.url }}>
                        <div class='embed-responsive FixRatioBox--bigSlider SharpShadow--darkSmall'>
                            <div class="embed-responsive-item">
                                <div class='PictureBox PictureBox--Bordered PictureBox--darker divImageAnimation-divWrapper'>
                                    {% image conference.image original as tmp_img %}
                                    <div class='div-image' style='background-image: url({{ tmp_img.url }});'> </div>
                                    <div class='PictureBox-content'>
                                        <h5 class='text-inverse'>{{ conference.title }}</h5>
                                        <h6 class='text-muted'>{{ conference.subheading }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <!-- Controls -->
        <a class="left carousel-control block-link"  role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left slider-left-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control block-link"  role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right slider-right-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 Shadow bg bg-white">

                <div class="center-block" style="text-align: center">
                    <div class="BorderedLabel label-wide BorderedLabel--danger label-h4" style="position: relative;top:-3px">
                        {% trans '最新消息' %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <h2 class="DoubleBarHeading">{% trans '關注議題' %}</h2>
                        </div>
                    </div>
                </div>

                <div class='l-two-column-layout'>
                    {% for blog_index_page in blog_index_pages %}
                        <div class='{% cycle 'l-two-column-left' 'l-two-column-right' %}'>
                            <div class='divImageAnimation--hoverBigger BigArticle'>
                                <div class='block-link' href="{{ blog_index_page.url }}">
                                    <h3 class='text-success SingleBarHeading'> {{ blog_index_page.translated_title }} </h3>
                                    <div class='FixRatioBox FixRatioBox--ntu'>
                                        <div class='PictureBox divImageAnimation-divWrapper'>
                                            {% image blog_index_page.image original as tmp_img %}
                                            <div class='div-image' style='background-image: url({{ tmp_img.url }});'></div>
                                            <div class="PictureBox-content"> </div>
                                        </div>
                                    </div>
                                    <div class="media MediaArticle GrayBorder">
                                        <div class="media-body RightBorder" href="{{ blog_index_page.url }}">
                                            <p>{{ blog_index_page.intro | richtext   }}</p>
                                        </div>
                                        <a class="media-right media-middle" href="{{ blog_index_page.url }}">
                                            <button class='liftedBtn btn-info'>{% trans '瞭解更多' %}</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="l-two-column-layout layout-minor-article-part">
                    <div class="l-two-column-left">
                        <h3 class='DoubleBarHeading'>{% trans '臉書動態' %}</h3>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E8%87%BA%E5%A4%A7%E5%85%AC%E5%85%B1%E7%B6%93%E6%BF%9F%E7%A0%94%E7%A9%B6%E4%B8%AD%E5%BF%83-Public-Economic-Policy-Research-Center-343951162715399&tabs=timeline&width=450&height=590&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=707453112688851" width="450" height="590" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- container -->


{% endblock %}


{% block extra_js %}

    {% compress js %}

        <script src="{% static 'js/bigSlider.js' %}"></script>
        <script>
            var app = {
                $bigCarousel: $('[data-js=BigSlider]'),
                init:function(){
                    app.$bigCarousel.bigSlider();
                }
            };

            $(app.init);

        </script>

    {% endcompress %}
{% endblock %}
