<!DOCTYPE html>
{% load compress static wagtailuserbar %}
{% load core_tags %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/ntu.scss' %}">
    {% endcompress %}

    {% block extra_css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body class="bg-warn-yellow ChineseBeautify">


<nav class="navbar navbar-inverse hidden-xs" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#first-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="first-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="http://www.coss.ntu.edu.tw/">國立台灣大學社科院<span class="sr-only">(current)</span></a></li>
                <li class=""><a href="http://www.ntu.edu.tw/">台灣大學</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="bigger">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo@2x.png'%}" style="width:50%" alt=""/></a>
        </div>

        <div class="collapse navbar-collapse" id="second-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">連結<span class="sr-only">(current)</span></a></li>
                <li class=""><a href="#">公共經濟中心<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>
</div>


{% block content %}{% endblock %}

<div class="bg bg-blue-patterns text-center l-z-upper ">
    <div class="container normal-content">
        <h2 class="text-inverse">關於公共經濟中心</h2>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p class='text-inverse text-left'>近年來受到全球化趨勢、區域經濟整合迅速擴展及中國大陸經濟的崛起等衝擊，台灣經濟面臨到空前未有更嚴酷的挑戰。為提升本校有關經濟理論、實證評估、制度 設計、政策諮詢等相關領域的研究水準，並為因應此項挑戰，從事各項有關公共經濟議題的研究，應有一專責研究中心擔負起整合平台的功能，因而臺大社會科學院 公共經濟研究中心在此時成立，乃有其適宜性及切時性。。 藉由此中心的成立，希望結合校內外跨系所知名之國際學者，以經濟政策為基礎，將台大社會科學院建立成國內經濟學研究重鎮，搭起與國際經濟研究互動的平台。 </p>
            </div>
        </div>
        <a class='BtnHollow btn-warning'> 瞭解更多</a>
    </div>
</div>
<div class="container Shadow bg bg-white">
    <div class='row' >
        <div class='col-sm-9'>
            <div class="'normal-content">
                <div class="table-responsive">
                    <table class='table ListingTable'>
                    
                        <td>
                            <h4> Title </h4>
                            <ul>
                                <li> 很好 </li>
                                <li> Yo </li>
                                <li> Yo </li>
                            </ul>
                        </td>
                        <td>
                            <h4> Title </h4>
                            <ul>
                                <li> Yo </li>
                            </ul>
                        </td>
                        <td>
                            <h4> Title </h4>
                            <ul>
                                <li> Yo </li>
                            </ul>
                        </td>
                        <td>
                            <h4> Title </h4>
                            <ul>
                                <li> Yo </li>
                            </ul>
                        </td>
                        <td>
                            <h4> Title </h4>
                            <ul>
                                <li> Yo </li>
                            </ul>
                        </td>
                        <td>
                            <h4> Title </h4>
                            <ul>
                                <li> Yo </li>
                            </ul>
                        </td>
                    </table>
                </div>
            </div>
        </div>

        <div class='col-sm-3'>
            <div class="normal-content">
                <h5>訂閱公共經濟中心電子報</h5>
                <a class='btn btn-block btn-danger'>訂閱</a>
            </div>
        </div>
    </div>
</div>

<div class="bg bg-dark-green text-left text-inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 normal-content">
                <p> 國立台灣大學社會科學院公共經濟中心 </p>
                <p> Public Economics Research Center. NTU </p>
                <p> Designed By <a href="http://www.dorm7.com"> Dorm7 </a></p>
            </div>
            <div class="col-sm-6 normal-content">
                <p class='text-inverse'>聯絡我們</p>
                <table style="width:100%; table-layout: fixed">
                    <tr>
                       <td>
                           <span class="glyphicon glyphicon-phone"></span>
                           +886-2-3366-8368
                       </td>
                        <td>
                            <span class="glyphicon glyphicon-envelope"></span>
                            <a class='link-inverse' href="mailto:ntuperc@ntu.edu.tw">ntuperc@ntu.edu.tw</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-earphone"></span>
                            +886-2-3366-8368
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-home"></span>
                            106台北市大安區羅斯福路四段1號-社會科學院頤賢館515室
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% compress js %}
    <script type="text/javascript" src="{% static 'js/ntu.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endcompress %}

{% block extra_js %}{% endblock %}

</body>
</html>
