<!DOCTYPE html>
{% load compress static wagtailuserbar %}
{% load core_tags %}
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/ntu.scss' %}">
    {% endcompress %}

    {% block extra_css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    {% comment %}
    {% endcomment %}
</head>

<body class="bg-warn-yellow ChineseBeautify" >
<div id="google_translate_element" ></div>

<nav class="navbar navbar-inverse hidden-xs" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#first-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="first-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {% include 'language_choose_form.html' %}
                </li>
                <li class=""><a href="http://www.coss.ntu.edu.tw/">{% trans '國立台灣大學社科院' %}<span class="sr-only">(current)</span></a></li>
                <li class=""><a href="http://www.ntu.edu.tw/">{% trans '台灣大學' %}</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="bigger">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'img/logo@2x.png'%}" class='ntu-logo'  alt=""/></a>
            </div>

            <div class="collapse navbar-collapse" id="second-nav">
                <ul class="nav navbar-nav navbar-right">
                    {% for page in request.site.root_page.get_children %}
                        {% if page.content_type.model != 'blogindexpage' %}
                            {% if page.get_children %}
                                <li class="dropdown {% if request.get_full_path == page.url %}active{% endif %} ">
                                    <a href="{{ page.url }}" class='dropdown-toggle' data-toggle='dropdown' >{{ page.title }} <span class="caret"></span><span class="sr-only">(current)</span></a>
                                    <ul class="dropdown-menu" role="menu">
<!--                                         <li>
                                            <a href="{{ page.url }}">{{ page.title }}</a>
                                        </li>
 -->                                        {% for sub_page in page.get_children %}
                                            <li class="{% if sub_page.url == request.get_full_path %}{% endif %}">
                                                <a href="{{ sub_page.url }}">{{ sub_page.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{% if request.get_full_path == page.url %}active{% endif %} ">
                                    <a href="{{ page.url }}">{{ page.title }}<span class="sr-only">(current)</span></a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>


{% block content %}{% endblock %}

<div class="AboutEC bg bg-blue-patterns text-center l-z-upper">
    <div class="container ">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 ">
                <div class="AboutEC-title text-inverse text-center">{% trans '關於公共經濟研究中心...' %}</div>
                <p class='AboutEC-content text-inverse text-left'>{% trans '近年來受到全球化趨勢、區域經濟整合迅速擴展及中國大陸經濟的崛起等衝擊，台灣經濟面臨到空前未有更嚴酷的挑戰。為提升本校有關經濟理論、實證評估、制度 設計、政策諮詢等相關領域的研究水準，並為因應此項挑戰，從事各項有關公共經濟議題的研究，應有一專責研究中心擔負起整合平台的功能，因而臺大社會科學院 公共經濟研究中心在此時成立，乃有其適宜性及切時性。。 藉由此中心的成立，希望結合校內外跨系所知名之國際學者，以經濟政策為基礎，將台大社會科學院建立成國內經濟學研究重鎮，搭起與國際經濟研究互動的平台。' %}</p>
            </div>
        </div>
        <a class='BtnHollow btn-warning BtnHollow--wider' href='http://perc.ntu.edu.tw/aboutus/introduction/'>{% trans '瞭解更多' %}</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 Shadow col-sm-offset-1 bg bg-white">


            <div class='row SiteMap' >
                <div class='col-sm-9'>
                    <div class="">
                        <div class="table-responsive">
                            <table class='table ListingTable'>
                                {% for page in request.site.root_page.get_children %}
                                    {% if page.content_type.model != 'blogindexpage' %}
                                        <td>
                                            <a href="{{ page.url }}">{{ page.title }}</a>
<!--                                             <ul>
                                                {% for sub_page in page.get_children %}
                                                    <li class="{% if sub_page.url == request.get_full_path %}haha{% endif %}">
                                                        <a href="{{ sub_page.url }}">{{ sub_page.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
 -->                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class="">
                        <h5>{% trans '訂閱公共經濟研究中心電子報' %}</h5>
                        <a class='btn btn-block btn-danger' href="http://eepurl.com/balTQH" >{% trans '訂閱' %}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="Footer bg bg-dark-green text-left text-inverse">
    <div class="container">
        <div class="row">
            <div class="Footer-left">
                <div class="dropdown">
                    {% include 'language_choose_form.html' %}
                </div>
                <p> 國立台灣大學社會科學院公共經濟研究中心 </p>
                <p> Public Economics Policy Research Center. NTU </p>
                <p> Design By <a href="http://www.dorm7.com">Dorm7</a></p>
                <div class="visible-xs-block">
                    <p>  <span class="glyphicon glyphicon-phone"></span>02-33668368 / 02-33663366 ext.55716 </p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span><a class='link-inverse' href="mailto:ntuperc@ntu.edu.tw">ntuperc@ntu.edu.tw</a>
                    </p>
                    <p>

                        <span class="glyphicon glyphicon-earphone"></span>Fax：02-23657046
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-home"></span>{% trans '羅斯福路四段1號-社科院頤賢館515室' %}
                    </p>
                </div>
            </div>
            <div class="Footer-right">
                <div class="hidden-xs">
                    <p class='text-inverse'>{% trans '聯絡我們' %}</p>
                    <table>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-phone"></span>+886-2-3366-8368
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-envelope"></span><a class='link-inverse' href="mailto:ntuperc@ntu.edu.tw">ntuperc@ntu.edu.tw</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-earphone"></span>Fax：02-2365-7046
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-home"></span>{% trans '106台北市大安區羅斯福路四段1號-社科院頤賢館515室' %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% compress js %}
    <script src="{% static 'js/ntu.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/csrf_token.js' %}"></script>

    <script>
        $(document).on('click', '[data-js-language-choose] [data-language-code]', function(){
            var url = '{% url 'set_language' %}';
            var languageCode =  $(this).data('language-code');
            $.post(url, {
                language:languageCode
            }, function(){
                location.reload();
                console.log('yo');
            });
        });

    </script>
{% endcompress %}


{% include 'google-translate-compensate.html' %}

{% block extra_js %}{% endblock %}

</body>
</html>