{% load i18n %}

 {% get_current_language as lang %}

 <!-- {{ lang }} -->

 {% if lang == 'en' %}

     <style>
         body{
             position: static !important;
         }
         .skiptranslate{
             height: 0;
         }
         .skiptranslate iframe{
             height: 0 !important;
         }
     </style>


     <script type="text/javascript">
         function googleTranslateElementInit() {
             new google.translate.TranslateElement({
                 pageLanguage: 'zh-tw',
                 includedLanguages: 'en'
             }, 'google_translate_element');

             setTimeout(function(){
                 translate('en');
             }, 1200);
         }

         function fireEvent(element,event){
             if (document.createEventObject){
                 // dispatch for IE
                 var evt = document.createEventObject();
                 return element.fireEvent('on'+event,evt)
             }
             else{
                 // dispatch for firefox + others
                 var evt = document.createEvent("HTMLEvents");
                 evt.initEvent(event, true, true ); // event type,bubbling,cancelable
                 return !element.dispatchEvent(evt);
             }
         }

         function translate(lan)
         {
             var zz = $(".goog-te-combo")[0];
             for(var i =0; i< zz.options.length; i++) {
                 if (zz.options[i].value == lan) {
                     zz.selectedIndex= i;
                     fireEvent(zz, 'change');
                     return;
                 }
             }
         }

     </script>
     <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

     <script>

     </script>
 {% endif %}
