{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
    <ul class="dropdown-menu" data-js-language-choose aria-labelledby="dropdownMenu2">
        {% for language in languages %}
            <li class="{% if language.code == LANGUAGE_CODE %} active {% endif %}>">
                <a data-language-code='{{ language.code }}' href="#">
                {{ language.name_local }} ({{ language.code }}) </a>
            </li>
        {% endfor %}
    </ul>


<div style="overflow: hidden; height: 0">
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
</div>
