{% extends 'styleguide.html' %}
{% load compress %}
{% load staticfiles %}


{% block style %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/ntu.scss' %}">
    {% endcompress %}
{% endblock %}


{% block bottom %}
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bigSlider.js' %}"></script>
    <script>

        var app = {
            $bigCarousel: $('[data-js=BigSlider]'),
            init:function(){
                app.$bigCarousel.bigSlider();
            }
        };

        $(app.init);


    </script>
{% endblock %}